.sidebar {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content {
    border-left: 1px solid #ebeef0;
    border-right: #ebeef0;
}

.twitterLogo {
    width: 2rem;
}

.new-tweet {
    background: var(--twitter-blue);
    border-radius: 99px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 900;
    border: 0;
}

.sidebar .new-tweet:hover {
    filter: brightness(0.9);   
/* macete para dar efeito hover no botão */
}

.main-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
}

.main-navigation a {
    display: flex;
    flex-direction: center;
    gap: 1.25rem;  
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}